:root {
  --bg: rgb(16, 16, 54);
  --bg2: #333;
  --font-1: 400;
  --font-2: 500;
  --font-bold: 700;
}

* {
  font-family: "poppins";
  scroll-behavior: smooth; /* Animasi scrolling halus */
  text-decoration: none;
  color: inherit;
}
h1 {
  font-weight: 700;
  font-size: 2.2rem;
}

body {
  margin: 0;
  padding: 0;
  /* max-width: 1140px; */
  margin: 0 auto;
  height: 1000px;
  background-color: #fff;
}
nav {
  background-color: var(--bg);
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}
footer {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin: 0;
  font-size: 0.8rem;
  background-color: var(--bg);
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 0 auto;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 20px;
  max-width: 1140px;
  background-color: var(--bg);
}

.logo a {
  font-weight: 700;
  font-style: italic;
  color: #fff;
  font-size: 1.8rem;
}

.logo a span {
  font-weight: 700;
  color: orange;
}

.menu-toggle {
  display: none;
}

.nav-list {
  list-style-type: none;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-list .active {
  color: orange;
}

.nav-list li {
  margin-right: 10px;
}

.nav-list li a {
  padding: 10px;
  color: #fff;
}

.nav-list li a {
  padding: 10px;
  color: #fff;
  position: relative;
  overflow: hidden; /* Mencegah pseudo-element keluar dari batas */
}

/* animasi navlist */
.nav-list li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%; /* Mulai dari tengah */
  width: 0; /* Lebar awal */
  height: 0.15rem; /* Tinggi border */
  background-color: orange; /* Warna border */
  transition: all 0.3s ease; /* Animasi transisi */
}

.nav-list li a:hover::after {
  width: 100%; /* Lebar akhir */
  left: 0; /* Posisi akhir */
}
/* end animasi navlist */
/* ------------------------------------------------------------------------------------- */
.content {
  display: flex;
  flex-direction: column;
  max-width: 1140px;
  margin: 0px auto;
  padding-top: 80px;
}
.content h1 {
  padding-top: 50px;
  margin-bottom: 0px;
}
.content h2 {
  margin-top: 0px;
  border-bottom: 2px solid;
  padding-bottom: 50px; /* Menambahkan jarak antara teks dan border-bottom */
}
.thumbnail {
  width: 100%;
  height: calc(50% * 16 / 9); /* Tinggi gambar disesuaikan untuk mencapai rasio 9:16 */
  object-fit: cover; /* Memastikan gambar menutupi area tanpa mengubah rasionya */
  object-position: center; /* Memfokuskan gambar pada bagian tengah */
  margin: 0 auto;
  /* border-radius: 1rem; */
}
.penjelasan {
  width: 65%;
  margin: 0 auto;
  padding: 50px 0px;
}
.detail-link {
  color: blue;
  text-decoration: underline;
}
.penjelasan h2 {
  color: orange;
  border: none;
  padding-bottom: 0px;
  margin-bottom: 0px;
  padding-top: 20px;
}
.penjelasan p {
  margin-top: 0px;
}

/* kiri kanan */
.row {
  display: flex;
  flex-direction: row;
}
.row .kiri {
  max-width: 50%;
}
.row .kanan {
  max-width: 50%;
}
/* brainstorming */
.container-brainstroming {
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.container-brainstroming h2 {
  padding-top: 0px;
  padding-right: 50px;
  font-size: 50px;
}
.container-brainstroming p {
  margin-bottom: 0px;
}

.brainstroming-kiri {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.brainstroming-kanan {
  width: 50%;
  margin-left: 350px;
  display: flex;
  align-items: center;
}
/* end brainstorming */

.detail-img {
  max-width: 50%;
  transition: 0.5s;
  padding: 20px 0px;
}
.detail-img:hover {
  transform: scale(2);
}

/* end penjelasan */
/* -------------------------------------------------------------------------------- */
.detail {
  padding: 20px 0px;
}
/* -------------------------------------------------------------------------------- */

.bawah {
  max-width: 1140px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: stretch;
  padding: 20px 0px 50px 0px;
}

.icon {
  /* Style properties */
  color: orange; /* Contoh: mengubah warna ikon */
}

.sebelum {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sebelum p {
  margin-left: 30px;
}

.sesudah {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sesudah p {
  margin-right: 30px;
}
.sesudah:hover {
  cursor: pointer;
  animation: hoverMove 0.5s ease-in-out forwards;
}
/* buat animasi hover */
@keyframes hoverMove {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

/* MARK: responsive 
*/
@media screen and (max-width: 768px) {
  nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--bg);
    width: 100%;
  }

  .nav-list {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--bg);
  }

  .menu-toggle {
    color: white;
    display: block;
    cursor: pointer;
  }

  .nav-list.active {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: var(--bg);
    padding: 10px 0;
  }

  .nav-list a {
    padding: 10px 0;
    width: 100%;
    text-align: center;
    color: white;
    text-decoration: none;
  }

  .nav-list a:hover {
    background-color: orange;
    color: white;
  }

  .content {
    padding-top: 0px;
    margin: 0px 20px;
  }
  .content h1 {
    padding-top: 0px;
  }
  .content h2 {
    padding-bottom: 0px;
  }
  .content img {
    width: 90%;
    position: static;
    border-radius: 1rem;
  }

  .penjelasan {
    width: 100%;
    margin: 0px auto;
  }
  .row {
    flex-direction: column;
  }
  .row .kiri,
  .row .kanan {
    max-width: 100%;
  }

  .container-brainstroming {
    width: 100%;
  }
  .brainstroming-kiri {
    width: 100%;
  }
  .brainstroming-kanan {
    margin-left: 0px;
    width: 100%;
  }

  .bawah {
    padding: 0 20px;
    flex-direction: row;
    align-items: center;
  }

  .sebelum,
  .sesudah {
    flex-direction: row;
    align-items: center;
  }

  .sebelum p,
  .sesudah p {
    margin: 10px 20px;
  }
}
