:root {
  --bg: rgb(16, 16, 54);
  --bg2: #333;
  --font-1: 400;
  --font-2: 500;
  --font-bold: 700;
}

* {
  font-family: "poppins";
  scroll-behavior: smooth; /* Animasi scrolling halus */
  text-decoration: none;
  color: inherit;
}
h1 {
  font-weight: 700;
  font-size: 2.2rem;
}

body {
  margin: 0;
  padding: 0;
  /* max-width: 1140px; */
  margin: 0 auto;
  min-height: 2000px;
  background-color: var(--bg);
}
nav {
  background-color: var(--bg);
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}
footer {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin: 0;
  font-size: 0.8rem;
  background-color: var(--bg);
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 0 auto;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 20px;
  max-width: 1140px;
  background-color: var(--bg);
}

.logo a {
  font-weight: 700;
  font-style: italic;
  color: #fff;
  font-size: 1.8rem;
}

.logo a span {
  font-weight: 700;
  color: orange;
}

.nav-list {
  list-style-type: none;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-list .active {
  color: orange;
}

.nav-list li {
  margin-right: 10px;
}

.nav-list li a {
  padding: 10px;
  color: #fff;
}

.nav-list li a {
  padding: 10px;
  color: #fff;
  position: relative;
  overflow: hidden; /* Mencegah pseudo-element keluar dari batas */
}

/* animasi navlist */
.nav-list li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%; /* Mulai dari tengah */
  width: 0; /* Lebar awal */
  height: 0.15rem; /* Tinggi border */
  background-color: orange; /* Warna border */
  transition: all 0.3s ease; /* Animasi transisi */
}

.nav-list li a:hover::after {
  width: 100%; /* Lebar akhir */
  left: 0; /* Posisi akhir */
}
/* end animasi navlist */
/* ------------------------------------------------------------------------------------- */

.hero {
  display: flex;
  padding-top: 100px;
  min-height: 100vh;
  justify-content: center;
  background-image: url("../image/bg-porto-lp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center 10%; /* biar gambar turun 10% dari atas */
  -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0)); /* biar support chrome dan firefox */
  mask-image: linear-gradient(rgba(0, 0, 0, 1) 80, rgba(0, 0, 0, 0)); /* buat gradient */
}
/* masking */
.mask {
  position: absolute;
  inset: 0;
  -webkit-mask-image: url("../image/mask-porto-lp.png");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  -webkit-mask-position: center 10%;
}
/* end masking */
.title {
  position: fixed;
  width: 100%;
  color: #fff;
  margin-top: 130px;
  text-align: center;
}
.title h1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0px;
  text-shadow: 5px 5px 3px rgba(1, 1, 3, 0.5);
}
/* end hero */
/* ---------------------------------------------------------------------------------------- */
.bawah {
  max-width: 1140px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-between;
  padding: 20px 0px 50px 0px;
}
.icon {
  /* Style properties */
  color: orange; /* Contoh: mengubah warna ikon */
}

.sebelum {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sebelum p {
  margin-left: 30px;
  color: white;
}
.sesudah {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sesudah p {
  margin-right: 30px;
  color: white;
}
.sebelum:hover {
  cursor: pointer;
  animation: hoverMove 0.5s ease-in-out forwards;
}
.sesudah:hover {
  cursor: pointer;
  animation: hoverMove 0.5s ease-in-out forwards;
}
/* buat animasi hover */
@keyframes hoverMove {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
