:root {
  --bg: rgb(16, 16, 54);
  --bg2: #333;
  --font-1: 400;
  --font-2: 500;
  --font-bold: 700;
}

* {
  font-family: "poppins";
  scroll-behavior: smooth; /* Animasi scrolling halus */
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  padding: 0;
  /* max-width: 1140px; */
  margin: 0 auto;
  height: 1000px;
  background-color: #fff;
}

nav {
  background-color: var(--bg);
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}

section {
  background-color: var(--bg);
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  color: white;
}

footer {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin: 0;
  font-size: 0.8rem;
  background-color: var(--bg);
  color: white;
}

h1 {
  color: orange;
  font-weight: 700;
  font-size: 2.2rem;
}

p {
  font-size: 1.2rem;
  font-weight: var(--font-1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 0 auto;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 20px;
  max-width: 1140px;
}

.logo a {
  font-weight: 700;
  font-style: italic;
  color: #fff;
  font-size: 1.8rem;
}

.logo a span {
  font-weight: 700;
  color: orange;
}

.nav-list {
  list-style-type: none;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu-toggle{
  display: none;
}

.nav-list .active {
  color: orange;
}

.nav-list li {
  margin-right: 10px;
}

.nav-list li a {
  padding: 10px;
  color: #fff;
}

.nav-list li a {
  padding: 10px;
  color: #fff;
  position: relative;
  overflow: hidden; /* Mencegah pseudo-element keluar dari batas */
}

/* animasi navlist */
.nav-list li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%; /* Mulai dari tengah */
  width: 0; /* Lebar awal */
  height: 0.15rem; /* Tinggi border */
  background-color: orange; /* Warna border */
  transition: all 0.3s ease; /* Animasi transisi */
}

.nav-list li a:hover::after {
  width: 100%; /* Lebar akhir */
  left: 0; /* Posisi akhir */
}
/* end animasi navlist */

/* start section hero */

.hero {
  /* position: relative; */
  max-width: 1140px;
  max-height: 500px;
  margin: 0 auto; /* biar item berada di tengah */
  align-items: top;
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;
}

.hero-kiri {
  max-width: 50%;
  padding-left: 0;
  list-style: none;
  /* flex: 1.5; */
  font-weight: 800;
  font-size: 3rem;
  font-style: italic;
  color: white;
}
.hero-kiri li {
  text-shadow: 4px 4px 2px rgba(167, 167, 167, 0.3);
}

.hero-kiri li span {
  color: orange;
}

.button {
  margin-top: 2rem;
  display: inline-block;
  padding: 20px 30px;
  font-size: 1rem;
  font-style: normal;
  font-weight: var(--font-1);
  color: white;
  background-color: orange;
  border-radius: 0.5rem;
  box-shadow: 4px 4px 2px rgba(167, 167, 167, 0.3);
}

/* start animasi hover button */
.button:hover {
  color: orange;
  background-color: white;
  cursor: pointer;
  animation: hoverMove 0.5s ease-in-out forwards;
}
@keyframes hoverMove {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
/* end animasi hover button */

.hero-kanan {
  list-style: none;
  /* flex: 0.5; */
  display: flex;
  justify-content: flex-end;
  margin-left: 10px;
}
.hero-kanan img {
  position: relative;
  bottom: 15px;
  left: 180px;
  height: 600px;
  width: auto;
}

/* end section hero */

/* start about */
.about {
  background-color: white;
  height: 500px;
  padding: 100px 0px 50px 0px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1140px;
  margin: 0px auto;
}

.about p {
  font-size: 1rem;
  color: black;
}
.skill-logo {
  display: flex;
  justify-content: center;
}
.icon {
  color: orange;
  margin: 0px 10px;
}

/* end about */

/* start parent sertifikat */
.sertifikat {
  max-width: 1140px;
  display: flex;
  padding-top: 0px;
  background-color: white;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}
.parent-sertif p {
  display: flex;
  color: orange;
  justify-content: center;
}
.parent-sertif {
  max-width: 1140px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.parent-sertif img {
  height: 350px;
  width: 500px;
  margin: 0 auto;
  border: orange 0.3rem solid;
  border-radius: 0.8rem;
}
/* end parent sertifikat */

.sertif-kiri {
  max-width: 50%;
}
.sertif-kanan {
  max-width: 50%;
}

/* start parent  portofolio */
.porto {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  max-width: 1140px;
  margin: 0 auto;
}

.porto h2 {
  padding: 0px 20px;
  color: orange;
}
.porto p {
  padding: 0px 20px;
  font-size: 1rem;
}
.foto {
  width: 30rem;
  height: 30rem;
  border: orange 0.3rem solid;
  border-radius: 0.8rem;
}
.porto .button {
  margin: 0px 20px;
}

/* end parent */

.porto1 {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: left;
  /* border: orange 0.5rem solid;
  border-radius: 0.8rem; */
}

.porto2 {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 1140px;
  margin-bottom: 30px;
  text-align: right;
  /* border: orange 0.5rem solid;
  border-radius: 0.8rem; */
}
.porto2 img {
  order: 1;
  height: 100%;
  /* width: 100%; */
}

.porto3 {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  text-align: left;
  /* border: orange 0.5rem solid;
  border-radius: 0.8rem; */
}
/* end porto */

/* start contact */
.contact {
  background: #eaeaea;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact .container {
  max-width: 1140px;
  width: 100%;
  background: #fff;
  border-radius: 1.5rem;
  margin: 2rem 5rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.contact .container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 2rem;
}
.contact .content .image-box {
  max-width: 50%;
  margin-left: 4rem;
}
.contact .content .image-box img {
  width: 100%;
  height: 40rem;
  position: relative;
}
.contact .content form {
  width: 45%;
  margin-right: 3.5rem;
}
form .form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-group .field {
  width: 100%;
  height: 50px;
  display: flex;
  position: relative;
  margin: 1rem;
}
/* icon di dalam input field */
form i {
  position: absolute;
  top: 50%;
  left: 18px;
  color: rgb(51, 51, 51);
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
}
/* text di dalam input field */
form .field input,
form .message textarea {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 16px 0 48px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  border: 1px solid rgb(51, 51, 51);
  background: #eaeaea;
  color: black;
}
.field input::placeholder,
.message textarea::placeholder {
  color: rgb(51, 51, 51);
}
.field input:focus,
.message textarea:focus {
  padding-left: 47px;
  border: 2px solid orange;
}
.field input:focus ~ i,
.message textarea:focus ~ i {
  color: orange;
}
form .message {
  position: relative;
  margin: 1rem;
  width: 100%;
  max-width: 350px;
}
form .message i {
  top: 25px;
  font-size: 20px;
  left: 15px;
}
form .message textarea {
  min-height: 130px;
  max-height: 230px;
  max-width: 100%;
  min-width: 100%;
  padding: 12px 20px 0 48px;
}
form .message textarea::-webkit-scrollbar {
  width: 0px;
}

.content .button {
  font-size: 1.2rem;
  float: right;
}
.button i {
  position: relative;
  top: 10px;
  left: 2px;
  font-size: 1.5rem;
  transition: 0.3s;
  color: #fff;
}
.button:hover i {
  left: 8px;
  color: orange;
}
/* end contact */

/* start connect */
.connect {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg);
}
.connect h1 {
  margin-bottom: 50px;
}

.container-icon {
  display: flex;
}
.icon {
  color: orange;
  margin: 0px 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.icon:hover {
  cursor: pointer;
  animation: hoverMove 0.5s ease-in-out forwards;
}
.icon p {
  padding-top: 0px;
  margin-top: 0px;
  color: orange;
}
/* end connect */


/* responsive */
@media screen and (max-width: 768px) {
  nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--bg);
    width: 100%;
  }

  .nav-list {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--bg);
  }

  .menu-toggle {
    color: white;
    display: block;
    cursor: pointer;
  }

  .nav-list.active {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: var(--bg);
    padding: 10px 0;
  }

  .nav-list a {
    padding: 10px 0;
    width: 100%;
    text-align: center;
    color: white;
    text-decoration: none;
  }

  .nav-list a:hover {
    background-color: orange;
    color: white;
  }

  .hero {
    padding-top: 0px;
  }

  .hero-kiri {
    max-width: 100%;
    margin: 0 20px;
    justify-content: center;
    font-size: 2.5em; /* Menyesuaikan ukuran font */
    text-align: center;
  }
  .hero-kanan {
    display: none;
  }
  .about p {
    margin: 0px 20px;
    justify-content: center;
  }

  .sertifikat h1 {
    margin-top: 100px;
  }
  .sertif-kiri,
  .sertif-kanan {
    max-width: 100%;
  }
  .parent-sertif {
    flex-direction: column;
    align-items: center;
  }
  .parent-sertif img {
    width: 300px;
    height: auto;
  }
  .porto,
  .porto1,
  .porto2,
  .porto3 {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .foto,
  .porto2 img {
    max-width: 15em; /* Menyesuaikan ukuran gambar */
    height: auto;
    order: 0;
  }
  .contact .container {
    align-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .contact .container .content {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contact .content .image-box {
    max-width: 50%;
    margin: 0px;
  }
  .contact .container .content img {
    width: 100%;
    height: auto;
  }
  .contact .content form {
    width: 90%;
    margin-right: 0px;
  }
  form .form-group {
    align-items: center;
    justify-content: center;
  }

  .form-group .field {
    width: 100%;
    margin: 1rem;
    align-content: center;
  }
  form .message {
    margin: 1rem;
    left: 0px;
    width: 100%;
  }
  .content .button {
    width: 100%;
    height: 50px;
    font-size: 1rem;
    padding: 10px;
  }
  .button i {
    font-size: 1.1rem;
  }

  .connect {
    padding: 20px 0px;
  }
  .icon {
    margin: 0px 20px;
    font-size: 12px;
  }
}
